*{
    margin: 0 auto;
}
/* the styles for the elements */
html{
    background-color: white;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}
section{
    width: 525px;
    float: right;
}
aside{
    width: 215px;
    float: right;
}
/* the styles for the header */
header{
    border-bottom: 3px solid #931420;
    padding-top: 1.5em;
    padding-bottom: 2em;
    background: linear-gradient(#f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}
header img {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

/* the styles for the section */
main {
    clear: left;
    padding-left: 30px;
    padding-right: 30px;
}

main h2{
    font-size: 130%;
    color: #800000;
}
main h3{
    font-size: 105%;
}

p{
    padding-bottom: .5em;
}
blockquote{
    padding-right: 2em;
    padding-left: 2em;
}
ul{
    padding-bottom: .25em;
    padding-left: 1.25em;
}
li{
    padding-bottom: .35em;
}
a:hover{
    font-style: italic;
}
h1{
    font-size: 150%;
    padding-top: .5em;
    padding-bottom: .25em;
    margin: 0;
}
article{
    padding-top: .5em;
    padding-bottom: .5em;


}
article img{
    float: right;
    margin: 20px 0 20px 20px;
    border: 1px solid black;
}
article h2{
    padding-top: 0;
}
article h3{
    font-size: 150%;
    padding-bottom: .25em;
}
h2{
    font-size: 170%;
    color: #800000;
    padding-top: .5em;
    padding-bottom: .25em;

}

h3{
    font-size: 130%;



}
span.shadow{
    text-shadow:1px 1px #800000;
}
/* the styles for the footer */
footer{
    background-color: #931420;
    color: white;
    clear: both;
}
footer p{
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
}